<!DOCTYPE html>
<html>
  <head>
    <title>Lupi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body>
    <header class="header">
      <h1 class="headertitle">Lupi</h1>
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
        <%= link_to "マイページへ", user_path(current_user.id) %>
      <% else %>
        <%= link_to "ユーザー登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </header>
    <%= yield %>
   <footer>
      <h1 class="footertitle">＊＊ Lupi 2020 ＊＊</h1>
    </footer>
  </body>
</html>
